# ── Quarto ──────────────────────────────────────────
.quarto/
*_cache/          # caché de chunks de R
*.html            # outputs renderizados (omite si los quieres versionar)
*_files/
**/*_files/visualizacion_files/ # del archivo visualizacion qmd

# Por si acaso, ignorar libs de htmlwidgets específicamente  
libs/
**/libs/


# ── LaTeX / PDF ──────────────────────────────────────
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.tex             # omite si tienes .tex fuente que sí quieres versionar

# ── Tipografías y recursos temporales ────────────────
*.ttf
*.otf
*.woff
*.woff2

# ── R ────────────────────────────────────────────────
.Rhistory
.RData
.Rproj.user/
*.Rproj            # omite si quieres compartir el proyecto de RStudio

# ── YAML generados automáticamente ───────────────────
_freeze/

# ── Sistema operativo ─────────────────────────────────
.DS_Store
Thumbs.db